# Python кэш и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Временные файлы редакторов
*.swp
*.swo

# Логи и системные файлы
*.log
*.DS_Store

# Git репозиторий и конфигурация
.git/
.gitignore

# Переменные окружения и секреты
.env

# Виртуальное окружение
venv/

# Локальные базы данных
*.sqlite3
*.db
*.env

# Медиа и собранная статика (если не нужны в образе)
media/
staticfiles/

# Тесты и документация (если не нужны в контейнере)
tests/
docs/
