version: '3.8'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "0.0.0.0:8000:8000"  # Разрешает доступ с любого IP
    depends_on:
      - db
    environment:
      - CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,http://192.168.1.98:8000
      - DATABASE_URL=${DATABASE_URL:-postgres://postgres:postgres@db:5432/postgres}
      - YOOMONEY_ACCOUNT_ID=${YOOMONEY_ACCOUNT_ID:-1105130}
      - YOOMONEY_SECRET_KEY=${YOOMONEY_SECRET_KEY:-}
      - DEBUG=${DEBUG:-1}

    dns:
      - 8.8.8.8
      - 8.8.4.4
    extra_hosts:
      - "yoomoney.ru:185.71.78.222"  # Принудительное разрешение домена
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 3

  db:
    image: postgis/postgis:14-3.3
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
